apiVersion: v1
kind: Service
metadata:
  name: auth-service-backend
  labels:
    app: auth-service-backend
    service: auth-service
    component: backend
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8081
      targetPort: 8080
      protocol: TCP
    - name: grpc
      port: 9091
      targetPort: 9090
      protocol: TCP
  selector:
    app: auth-service-backend
