# Dev 환경 패치: Spring Profile 설정
apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service-backend
spec:
  template:
    spec:
      containers:
        - name: backend
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "dev"
